{
    "Database": {
        "Host": "localhost",
        "Port": 3306,
        "User": "",
        "Pass": "",
        "Database": ""
    },
    "Telegram": {
        "Token": ""
    },
    "Twitter": {
    "Token": ""
  }
}