{
    "MySQL": {
        "Host": "localhost",
        "Port": 3306,
        "User": "",
        "Pass": "",
        "Name": ""
    },
    "SQLite": {
        "Path": "db.sqlite"
    },
    "Telegram": {
        "Token": ""
    },
    "Twitter": {
        "Token": ""
    }
}